<%- include("includes/head.ejs"); %>

<body>
    <h3>Write new chat</h3>
    <form action="/chats" method="post">
        <input type="text" placeholder="who are you?" name="from">
        <br>
        <br>
        <textarea name="msg" placeholder="Write new msg here" cols="30" rows="10"></textarea>
        <br>
        <br>
        <input type="text" placeholder="add receiver" name="to">
        <br>
        <br>
        <button>Create chat</button>
    </form>

</body>